<div id="comment<%= comment.id %>">
<%=
    content_tag(:p,
    comment.body)
%>
<!-- We are accessing the update function so we use put as class -->
<span class="score"><%= comment.score %></span><span> - <%= link_to 'Add one point!',comment_path(comment),:class => "put"  %></span>
<p> - <%= link_to '*Delete this comment',comment_path(comment),:method => :delete,:class => "delete"  %></p>
<p><%= comment.created_at %></p>
<hr />
</div>

